.myOffcanvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.light_offcanvas {
    background-color: var(--light-verylight);
    color: black;
}

.dark_offcanvas {
    background-color: var(--dark-verydark);
    color: var(--light-light);
}

.offcanvas_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 7px;
}

.light_offcanvas_menu {
    background-color: var(--light-light);
}

.dark_offcanvas_menu {
    background-color: var(--dark-dark)
}

.offcanvas_menu_items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 3px;
}

.light_offcanvas .offcanvas_menu_items:hover,
.light_offcanvas .active_menu_item {
    cursor: pointer;
    color: var(--bs-red);
    border-left-color: var(--bs-red);
}

.light_offcanvas .offcanvas_menu_items:hover {
    background-color: var(--light-verylight);
}

.dark_offcanvas .offcanvas_menu_items:hover,
.dark_offcanvas .active_menu_item {
    cursor: pointer;
    color: var(--bs-yellow);
    border-left-color: var(--bs-yellow);
}

.dark_offcanvas .offcanvas_menu_items:hover {
    background-color: var(--dark-verydark);
}

@media screen and (max-width:200px) {
    .myOffcanvas {
        max-width: 150px;
        font-size: 0.6rem;
        padding-top: 8px;
    }

    .offcanvas_menu {
        padding-block: 5px;
        width: 85%;
    }

    .offcanvas_menu_items {
        padding-left: 0;
        height: 35px;
        gap: 3px;
        border-left: 3px solid transparent;
    }

    .leftSidebar_profile_txt {
        width: 100%;
        font-size: 0.6rem;
        margin-left: 10px;
    }

    .leftSidebar_profile_pic {
        margin-left: 10px;
    }
}

@media screen and (min-width:201px) {
    .myOffcanvas {
        max-width: 170px;
        font-size: 0.6rem;
        padding-top: 8px;
    }

    .myOffcanvas .sidebarIcon {
        width: 25px;
    }

    .offcanvas_menu {
        padding-block: 5px;
        width: 85%;
    }

    .offcanvas_menu_items {
        padding-left: 0;
        height: 37px;
        gap: 5px;
        border-left: 3px solid transparent;
    }

    .leftSidebar_profile_pic {
        display: flex;
        gap: 5px;
        margin-left: 10px;
        width: 100%;
    }

    .leftSidebar_profile_pic .profile_pic {
        height: 30px;
    }

    .leftSidebar_profile_txt {
        font-size: 0.6rem;
        margin-left: 10px;
        width: 100%;
    }
}

@media screen and (min-width:320px) {
    .myOffcanvas {
        max-width: 250px;
        font-size: 0.7rem;
        padding-top: 10px;
    }

    .myOffcanvas .sidebarIcon {
        width: 30px;
    }

    .offcanvas_menu {
        padding-block: 10px;
        width: 80%;
    }

    .offcanvas_menu_items {
        padding-left: 5px;
        height: 40px;
        gap: 10px;
        border-left: 5px solid transparent;
    }

    .leftSidebar_profile_pic .profile_pic {
        height: 40px;
    }

    .leftSidebar_profile_txt {
        font-size: 0.7rem;
    }
}

@media screen and (min-width:480px) {
    .myOffcanvas {
        max-width: 350px;
        padding-top: 20px;
        font-size: 1rem;
    }

    .leftSidebar_profile_txt {
        font-size: 1rem;
        margin-left: 40px;
    }
}

@media screen and (min-width:768px) {
    .myOffcanvas {
        max-width: 400px;
    }

    .myOffcanvas .leftSidebar_profile_pic {
        gap: 10px;
    }

    .myOffcanvas .leftSidebar_profile_pic img {
        width: 70px;
    }

    .myOffcanvas .leftSidebar_profile_txt div {
        font-size: 0.8rem;
        min-width: 110px;
    }

    .myOffcanvas .leftSidebar_profile_txt .redBtn {
        width: 65px;
        font-size: .85rem;
    }

    .offcanvas_menu {
        padding-block: 30px;
        width: 70%;
    }

    .offcanvas_menu_items {
        padding-left: 25px;
        height: 50px;
    }
}