.header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    align-items: center;
}

.header_title {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: bold;
}

.searchBar {
    display: flex;
    background-color: lightgray;
    border-radius: 30px;
    align-items: center;
}

.search_icon {
    fill: var(--main-darkgray);
}

.searchbar_input {
    background-color: transparent;
    border: none;
    color: var(--main-darkgray);
}

.searchbar_input:focus {
    outline: none;
    color: black;
}

.searchBar:has(.searchbar_input:focus-within) {
    box-shadow: 0 1px 5px 5px gray;
}

.header_profile {
    display: flex;
    align-items: center;
}

@media screen and (max-width:200px) {
    .header_profile {
        gap: 5px
    }

    .header_profile .redBtn {
        width: 45px;
        font-size: 0.6rem;
    }

    .header_title {
        font-size: 0.7rem;
    }

    .searchBar {
        width: 100px;
        height: 30px;
        font-size: 0.6rem;
    }

    .search_icon {
        width: 15px;
        height: 15px;
    }

    .searchbar_input {
        width: 50%;
    }
    .header .offcanvasToggle {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width:201px) {
    .header .offcanvasToggle {
        width: 30px;
        height: 30px;
    }

    .header_title {
        font-size: 0.8rem;
    }

    .searchBar {
        font-size: 0.65rem;
        width: 100px;
        padding-left: 5px;
        height: 30px;
    }

    .search_icon {
        width: 15px;
        height: 15px;
    }

    .searchbar_input {
        width: 50%;
    }
}

@media screen and (min-width:320px) {
    .header .offcanvasToggle {
        width: 40px;
        height: 40px;
    }

    .searchBar {
        padding-left: 10px;
        width: 180px;
        font-size: 0.7rem;
    }

    .searchbar_input {
        width: 80%;
    }

    .search_icon {
        width: 17px;
        height: 17px;
    }
}

@media screen and (min-width: 480px) {
    .header .offcanvasToggle {
        width: 50px;
        height: 50px;
    }

    .header_title {
        font-size: 1rem;
    }

    .searchBar {
        height: 40px;
        padding-left: 15px;
        font-size: 0.75rem;
    }

    .search_icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width:768px) {
    .header_title {
        font-size: 1.3rem;
    }

    .searchBar {
        font-size: 0.8rem;
        gap: 15px;
        width: 250px;
    }

    .searchbar_input {
        width: 80%;
    }
}

@media screen and (min-width:992px) {
    .header_title {
        font-size: 1.5rem;
    }

    .searchBar {
        font-size: 0.9rem;
        gap: 20px;
        width: 300px;
    }

    .search_icon {
        width: 20px;
        height: 20px;
    }

    .searchbar_input {
        width: 70%;
    }
}

@media screen and (min-width:1024px) {
    .searchBar {
        font-size: 1rem;
    }
}