.show_all_likers {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 350px;
    height: 500px;
    border-radius: 7px;
    z-index: 5;
}

.show_all_likers_light {
    color: var(--dark-verydark);
    background-color: lightgray;
}

.show_all_likers_dark {
    color: var(--dark-verylight);
    background-color: var(--dark-verydark);
}

.likers_header {
    display: flex;
    position: sticky;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    font-size: medium;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.likers_body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    font-size: small;
    padding: 5px;
}

.likedBy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.likedBy_dark {
    background-color: var(--dark-dark);
}

.likedBy_light {
    background-color: var(--light-verylight);
}

.likedBy img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: var(--main-border);
}
