button {
    font-style: italic;
    text-align: center;
}

.close {
    border: none;
    width: 15px;
    height: 15px;
    background: url("../img/svgs/close.svg") no-repeat center transparent;
}

.blueBtn,
.redBtn {
    border: none;
    border-radius: 7px;
    color: var(--light-verylight);
    box-shadow: 0 0 0 2px transparent;
    padding: 0;
}

.redBtn {
    background-color: var(--bs-red);
}

.redBtn:hover {
    background-color: rgb(212, 38, 38);
    box-shadow: 0 0 0 2px rgb(212, 38, 38);
}

.blueBtn {
    background-color: var(--bs-blue);
}

.blueBtn:hover {
    background-color: #0044ff;
    box-shadow: 0 0 0 2px #0044ff;
}

.showMore {
    background-color: transparent;
    border: none;
    color: var(--bs-blue);
    text-transform: capitalize;
}

@media screen and (max-width: 200px) {

    .blueBtn,
    .redBtn {
        width: 35px;
        height: 20px;
        font-size: xx-small;
    }
}

@media screen and (min-width: 201px) {

    .blueBtn,
    .redBtn {
        width: 35px;
        height: 20px;
        font-size: xx-small;
    }
}

@media screen and (min-width:320px) {

    .blueBtn,
    .redBtn {
        width: 45px;
        height: 25px;
        font-size: 0.7rem;
    }
}

@media screen and (min-width:480px) {

    .blueBtn,
    .redBtn {
        width: 55px;
        height: 25px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) {

    .blueBtn,
    .redBtn {
        width: 65px;
        height: 30px;
        font-size: 0.92rem;
    }
}

@media screen and (min-width: 992px) {
    .offcanvasToggle {
        display: none;
    }

    .blueBtn,
    .redBtn {
        width: 70px;
        height: 30px;
        font-size: 0.97rem;
    }
}