.post {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    margin-top: 10px;
}

.post:target {
    border: 2px solid var(--bs-red);
}

.post_creator,
.post_items_bar,
.post_img,
.post_likes_bar {
    width: 90%;
}

.post_creator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

.creator_profile {
    border-radius: 100%;
}

.post_likes_bar {
    display: flex;
    margin-top: 10px;
    font-size: 0.85rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
}

.post_img {
    border-radius: 8%;
}

.post_items_bar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.light_items,
.dark_items {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dark_items {
    fill: white;
}

.saved_item {
    fill: var(--bs-blue);
}

.post_caption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    padding: 5px 10px;
    text-indent: 10px;
    text-align: justify;
}

.overflow_show {
    height: fit-content;
    padding: 5px 10px;
    text-indent: 10px;
    text-align: justify;
}

.likes_bar_count span {
    font-weight: bold;
}

.liker_pic {
    display: flex;
    border-radius: 100%;
    border: var(--main-border);
}

.second {
    z-index: 2;
}

.third {
    z-index: 3
}

@media screen and (max-width:200px) {
    .post {
        font-size: 0.68rem;
        padding: 5px;
        width: 190px;
        height: max-content;
    }

    .post_likes_bar {
        font-size: 0.65rem;
    }

    .creator_profile {
        width: 28px;
        height: 28px;
    }

    .liker_pic {
        width: 22px;
        height: 22px;
    }

    .second {
        margin-left: -18px;
    }

    .third {
        margin-left: -17px;
    }

    .post_img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width:201px) {
    .post {
        font-size: 0.68rem;
        padding: 5px;
        width: 190px;
        height: max-content;
    }

    .post_likes_bar {
        font-size: 0.65rem;
    }

    .creator_profile {
        width: 28px;
        height: 28px;
    }

    .liker_pic {
        width: 22px;
        height: 22px;
    }

    .second {
        margin-left: -17px;
    }

    .third {
        margin-left: -16px;
    }

    .post_img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width:320px) {
    .post {
        width: 250px;
        font-size: 0.75rem;
    }

    .post_likes_bar {
        font-size: 0.75rem;
    }

    .creator_profile {
        width: 35px;
        height: 35px;
    }

    .liker_pic {
        width: 30px;
        height: 30px;
    }

    .post_img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 480px) {
    .post {
        font-size: 0.8rem;
        padding: 7px;
        width: 95%;
        height: 600px;
    }

    .post_likes_bar {
        font-size: 0.8rem;
    }

    .creator_profile {
        width: 40px;
        height: 40px;
    }

    .post_img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width:768px) {
    .post {
        font-size: 0.85rem;
    }

    .post_likes_bar {
        font-size: 0.85rem;
    }

    .post_img {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width:992px) {
    .post {
        width: 47%;
    }
}