:root {
    --main-border: 1px solid gray;

    --light-light: #eae8f8;
    --light-verylight: white;
    --light-color: black;

    --dark-dark: rgb(75, 75, 75);
    --dark-verydark: rgb(37, 37, 37);
    --dark-color: #edecf3;
}

body {
    letter-spacing: 0.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: url("./img/people/jennifer.jpg") no-repeat center;
    background-size: cover;
}

.hide {
    display: none;
}

.dark_theme {
    background-color: var(--dark-dark);
    color: var(--dark-color);
}

.light_theme {
    background-color: var(--light-light);
    color: var(--light-color);
}

.dark {
    background-color: var(--dark-verydark);
    color: var(--dark-color);
    text-shadow: 2px 1px 1px black;
}

.light {
    background-color: var(--light-verylight);
    color: var(--light-color);
}